#header{
    background-color: white;
    margin-bottom: 20px;

}

#main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 600px;
}

#main_right{
    padding-top: 20px;
}

#footer{
    clear:both;
    height: 200px;
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: montserrat;
    font-weight: bold;
}

html
{
    font-size: 1em !important;
    color: #000 !important;
    font-family: Arial !important;
}

.column_footer {
    float: left;
    padding-left: 20px;
    padding-right: 40px;
    height: 100px;
}




